<section class="testimonials-section">
    <h2 class="text-center text-white text-3xl lg:text-5xl font-orbitron mb-8">Testimonials</h2>
    <swiper-container class="testimonials-swiper" pagination="true" slides-per-view="1">
        <swiper-slide class="testimonial-card bg-gray-950 rounded-lg shadow-lg">
            <section class="testimonial_card--inter mx-auto bg-gray-700">
                <p class="text-gray-100 text-lg lg:text-xl leading-relaxed">
                    "Osvaldo is an exceptional developer. His attention to detail and innovative solutions have significantly improved our project."
                </p>
                <p class="text-orange-300 text-lg lg:text-xl font-orbitron mt-2">- Client A</p>
            </section>
        </swiper-slide>

        <swiper-slide class="testimonial-card bg-gray-950 rounded-lg shadow-lg">
            <section class="testimonial_card--inter mx-auto bg-gray-700">
                <p class="text-gray-100 text-lg lg:text-xl leading-relaxed">
                    "The experience working with Osvaldo was fantastic. He always delivers top-quality code."
                </p>
                <p class="text-orange-300 text-lg lg:text-xl font-orbitron mt-2">- Client B</p>
            </section>
        </swiper-slide>

        <swiper-slide class="testimonial-card bg-gray-950 rounded-lg shadow-lg">
            <section class="testimonial_card--inter mx-auto bg-gray-700">
                <p class="text-gray-100 text-lg lg:text-xl leading-relaxed">
                    "The experience working with Osvaldo was fantastic. He always delivers top-quality code."
                </p>
                <p class="text-orange-300 text-lg lg:text-xl font-orbitron mt-2">- Client B</p>
            </section>
        </swiper-slide>

        <swiper-slide class="testimonial-card bg-gray-950 rounded-lg shadow-lg">
            <section class="testimonial_card--inter mx-auto bg-gray-700">
                <p class="text-gray-100 text-lg lg:text-xl leading-relaxed">
                    "The experience working with Osvaldo was fantastic. He always delivers top-quality code."
                </p>
                <p class="text-orange-300 text-lg lg:text-xl font-orbitron mt-2">- Client B</p>
            </section>
        </swiper-slide>
    </swiper-container>
</section>
