<nav class="flex justify-between sm:justify-between md:justify-between lg:justify-around space-x-8 w-screen nav items-center">
    <img src="../../../assets/logoSJ.svg" alt="">
    <ul class="flex justify-center gap-24 Nav__Pc">
        <li>
            <a href="#" class="text-md font-montserrat text-white hover:text-cyan-400 transition duration-300">Home</a>
        </li>
        <li>
            <a href="#" class="text-md font-montserrat text-white hover:text-cyan-400 transition duration-300">About</a>
        </li>
        <li>
            <a href="#" class="text-md font-montserrat text-white hover:text-cyan-400 transition duration-300">Projects</a>
        </li>
        <li>
            <a href="#" class="text-md font-montserrat text-white hover:text-cyan-400 transition duration-300">Contact</a>
        </li>
    </ul>

    <ul class="Nav__Pc">
        <li>
            <a href="../../../assets/OsvaldoSantillanJimenez_CV.pdf" class="text-lg font-montserrat text-white hover:text-cyan-400 transition duration-300">Resume</a>
        </li>
    </ul>

    <article class="Nav__Mobile">
        <img src="../../../assets/menu-MobileVersion.svg" alt="">
    </article>
</nav>
