.nav {
    padding: 1rem 2em;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.02);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    height: 100%;
}

.Nav__Pc {
    display: flex;
}

.Nav__Mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .Nav__Pc {
        display: none;
    }
    .Nav__Mobile {
        display: block;
    }
}