<section class="testimonials-section ">
    <h2 class="text-center text-white text-3xl lg:text-5xl font-orbitron mb-8">Testimonials</h2>
    <swiper-container class="testimonials-swiper" pagination="true" slides-per-view="1">
        <swiper-slide class="testimonial-card bg-gray-950 p-4 rounded-lg shadow-lg">
            <section class="testimonial_card--inter mx-auto">
                <p class="text-gray-400 text-lg lg:text-xl leading-relaxed">
                    "Osvaldo is an exceptional developer. His attention to detail and innovative solutions have significantly improved our project."
                </p>
                <p class="text-white text-lg lg:text-xl font-orbitron">- Client Name</p>
            </section>

        </swiper-slide>
        <swiper-slide class="testimonial-card bg-gray-900 p-4 rounded-lg shadow-lg">
            <p class="text-gray-400 text-lg lg:text-xl leading-relaxed">
                "Osvaldo is an exceptional developer. His attention to detail and innovative solutions have significantly improved our project."
            </p>
            <p class="text-white text-lg lg:text-xl font-orbitron">- Client Name</p>
        </swiper-slide>


    </swiper-container>
</section>
