.testimonials-swiper {
    width: 100%;
    height: auto;
}

.testimonial-card {
    padding: 2rem;
}

.testimonial_card--inter {
    width: 25%;
    padding: 2rem;
    border-radius: 12px;
}

@media only screen and (max-width: 768px) {
    .testimonial_card--inter {
        width: 100%;
    }
}
